.img-size{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.text-area-edit{
    height: 300px;
    width: 100%;
}
.btn-edit{
    width: 100%;
}
.bg-simple{
    background: #eeeeee;
}
.bg-simple:hover{
    background: black;
    color: white;
}