<app-navbar [homepageActive]="false"></app-navbar>

<div class="container-fluid p-5">
  <div class="container-fluid d-flex">
    <div class="container-fluid">
      <h1 class="display-4 text-capitalize mb-5">
        {{ firstName }} {{ lastName }}
      </h1>
      <div class="text-muted font-weight-bold mb-2">
        {{ userName }}
      </div>
      <div class="text-muted mb-5">{{ bio }}</div>
      <div class="d-flex mb-2">
        <div class="mr-2"><i class="material-icons">email</i></div>
        <div>{{ email }}</div>
      </div>
      <div class="d-flex mb-2">
        <div class="mr-2"><i class="material-icons">call</i></div>
        <div>{{ mobile }}</div>
      </div>
    </div>

    <div class="d-flex border p-5">
      <div class="mr-5">
        <h1 class="display-5 text-center">10,500</h1>
        <div class="text-muted text-center">Followers</div>
      </div>
      <div>
        <h1 class="display-5 text-center">500</h1>
        <div class="text-muted text-center">Following</div>
      </div>
    </div>
  </div>

  <!--edit button-->
  <div class="container-fluid text-center">
    <button
      type="button"
      class="p-3 btn btn-info rounded-0 font-weight-bolder mt-5 btn-width"
    >
      Edit Profile
    </button>
  </div>
</div>

<img src="https://images.unsplash.com/photo-1534298261662-f8fdd25317db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
    class="img-fluid position-absolute bg-img">
