<div class="container-fluid background-image p-5">
  <!--alert-->
  <div
    *ngIf="!validateUser"
    class="alert alert-danger alert-dismissible fade show text-center"
  >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Username or password can't be recognized</strong>
  </div>
  <!--home button-->
  <div class="container-fluid text-right p-3">
    <abbr title="Go to Homepage"
      ><a href="/home"
        ><i class="material-icons text-muted">
          home
        </i></a
      ></abbr
    >
  </div>
  <!--heading and subheading div-->
  <div class="container d-flex justify-content-center mb-5">
    <div class="login-heading bottom-blue-border">Log In</div>
  </div>

  <div class="container d-flex justify-content-center">
    <!--form block-->
    <div class="form-width">
      <!--email or mobile-->
      <div class="d-flex flex-column mb-4">
        <label for="email">Email</label>
        <input
          type="email"
          placeholder="Email"
          class="p-2 grey-border"
          name="email"
          [(ngModel)]="email"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <!--passoword-->
      <div class="d-flex flex-column mb-4">
        <label for="password">Password</label>
        <input
          [type]="passwordType"
          placeholder="Password"
          class="p-2 grey-border"
          name="password"
          [(ngModel)]="password"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <!--show password-->
      <div class="custom-control custom-switch mb-4">
        <input
          type="checkbox"
          class="custom-control-input"
          id="switch1"
          (click)="showHidePassword()"
        />
        <label class="custom-control-label font-weight-bold" for="switch1"
          >Show Password</label
        >
      </div>
      <!--login button-->
      <button
        type="button"
        class="btn btn-blue text-light text-left pt-3 pb-3 font-weight-bolder rounded-0 mb-3"
        (click)="login()"
      >
        LOG IN
      </button>

      <!--new sign in button-->
      <div class="mb-4 rem-8">
        New to our website ?
        <a href="/signup" class="font-weight-bold text-info">Sign Up</a>
      </div>
    </div>
  </div>
</div>
