.img-background{
    background: url("https://vistapointe.net/images/working-8.jpg");
    height: 500px;
    background-repeat: no-repeat; 
}
.custom-pos{
    top: 300px;
    width: 700px;
    left: 25%;
}
.input-width{
    width: 550px;
}
.small-font{
    font-size: 0.8rem;
}
.input{
    color: #333333;
}
.bg-custom{
    background: rgba(255, 255, 255, 0.9);
}
.gray-border{
    border: 1px solid gray;
}
.arrow-size{
    font-size: 3rem;
    cursor: pointer;
}
.arrow-size:hover{
    color: #537ec5;
    background: rgba(255, 255, 255, 0.2);
}
.rem-8{
    font-size: 0.8rem;
}